{% extends "::base.html.twig" %}

{% block body %}
    {% block header %}
        <header>
            <div class="container">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('app_site_index') }}" class="menu">{% trans %}Main page{% endtrans %}</a></li>
                </ul>
                {% if user != null %}
                    <a href="{{ path('fos_user_security_logout') }}" class="menu logout">{% trans %}Logout{% endtrans %}</a>
                {% else %}
                    <a href="{{ path('fos_user_registration_register') }}" class="menu logout">{% trans %}Register{% endtrans %}</a>
                    <a href="{{ path('fos_user_security_login') }}" class="menu logout">{% trans %}Login{% endtrans %}</a>
                {% endif %}
                <a href="{{ path('app_site_changelocal', {'_locale' : 'en'}) }}" class="menu logout">
                    {% trans %}EN{% endtrans %}
                </a>
                <a href="{{ path('app_site_changelocal', {'_locale' : 'ru'}) }}" class="menu logout">
                    {% trans %}RU{% endtrans %}
                </a>
            </div>
            <div style="clear: both"></div>
        </header>
    {% endblock header %}
    {% block content %}{% endblock content %}
{% endblock body %}