{% extends "@App/Site/header.html.twig" %}

{% block title %}{% trans %}Site-translator{% endtrans %}{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">{% trans %}Site-translator{% endtrans %}</h1>

        <table class="table table-bordered">
            <tr>
                <th>{% trans %}Phrase on Russian language{% endtrans %}</th>
            </tr>
            {% for phrase in phrases %}
                <tr>
                    <td>
                        <a href="{{ path('app_site_show', {'phrase_id' : phrase.id}) }}">
                            {{ phrase.translate('ru').name }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>

        {% if user != null %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        {% endif %}
    </div>
{% endblock %}
